<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <!-- Lien vers le fichier CSS dans assets/css -->
    <link rel="stylesheet" href="assets/CSS/style.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/Images/favicon.ico">
</head>
<body>
    <form id="qrForm">
        <label for="url">URL :</label>
        <input type="text" id="url" name="url" required>
        
        <label for="color">Couleur :</label>
        <input type="color" id="color" name="color" value="#000000">
        
        <label for="size">Taille :</label>
        <input type="number" id="size" name="size" value="10" min="1" max="40">
        
        <button type="button" id="generate">Générer QR Code</button>
    </form>

    <!-- Conteneur pour afficher le QR Code -->
    <div id="qrcode"></div>

    <!-- Bouton pour télécharger le QR Code -->
    <a id="downloadLink" href="#" download="qrcode.png" style="display: none;">Télécharger QR Code</a>

    <!-- QRCode.js depuis un CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <!-- Lien vers le fichier JavaScript dans assets/js -->
    <script src="assets/JS/script.js"></script>
</body>
</html>
